Repository signalfx/splunk-otel-collector-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-lint, go-mod-tidy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    - id: render
      name: Create the rendered Kubernetes manifest resources for the project examples
      entry: make render
      language: system
      pass_filenames: false
    - id: go-fmt
      name: Go Format
      entry: make gofmt-all
      language: system
      files: '\.go$'
      pass_filenames: false
    - id: go-lint
      name: Go Lint
      entry: make golint-all
      language: system
      files: '\.go$'
      pass_filenames: false
    - id: go-mod-tidy
      name: Go Mod Tidy
      entry: make tidy-all
      language: system
      files: '(\.go$|go\.mod$|go\.sum$)'
      pass_filenames: false
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: "^examples|^test"
    - id: end-of-file-fixer
      exclude: "^examples|^test"
    - id: pretty-format-json
      args:
        - --autofix
        - --no-sort-keys
    - id: check-json
    - id: check-yaml
      # Can't check source yaml since it has go templates in it.
      exclude: "^helm-charts"
      args: [ --allow-multiple-documents ]
    - id: check-added-large-files
      args: [ --maxkb=5000 ]

[chore] Update testK8sClusterReceiverMetrics (#2135)
  functional_tests/functional/functional_test.go
Due: go-fmt, go-lint, go-mod-tidy

reorganize updating expected test data
  functional_tests/internal/common.go
  functional_tests/istio/istio_test.go
Due: go-fmt, go-lint, go-mod-tidy

[chore] add precommit targets for go files (#2136)
  .pre-commit-config.yaml
Due: none

update changelog message
  .chloggen/updateistiocreatorrules.yaml
Due: none

Add comment to public test helper SelectMetricSet
  functional_tests/internal/common.go
Due: go-fmt, go-lint, go-mod-tidy

[chore] Add changelog note addressing breaking change (#2131)
  CHANGELOG.md
Due: none

Update java instrumentation version
  .chloggen/update-java.yaml
  examples/enable-operator-and-auto-instrumentation/rendered_manifests/operator/instrumentation.yaml
  helm-charts/splunk-otel-collector/values.yaml
Due: none

Update nodejs instrumentation version
  .chloggen/update-nodejs.yaml
  examples/enable-operator-and-auto-instrumentation/rendered_manifests/operator/instrumentation.yaml
  helm-charts/splunk-otel-collector/values.yaml
Due: none

Update dotnet instrumentation version
  .chloggen/update-dotnet.yaml
  examples/enable-operator-and-auto-instrumentation/rendered_manifests/operator/instrumentation.yaml
  helm-charts/splunk-otel-collector/values.yaml
Due: none

Add a deprecation warning for logsEngine
  helm-charts/splunk-otel-collector/templates/NOTES.txt
Due: none

fix linter
  CHANGELOG.md
Due: none

fix linter again
  CHANGELOG.md
Due: none

Update index.yaml
  index.yaml
Due: none

[agent] Update Istio autodetect rules
  .chloggen/updateistiocreatorrules.yaml
  examples/autodetect-istio/rendered_manifests/configmap-agent.yaml
  examples/autodetect-istio/rendered_manifests/daemonset.yaml
  helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl
Due: none

Update .chloggen/updateistiocreatorrules.yaml
  .chloggen/updateistiocreatorrules.yaml
Due: none

debug: write updated metrics and add them to CI archive
  functional_tests/istio/istio_test.go
  tools/splunk_kubernetes_debug_info.sh
Due: go-fmt, go-lint, go-mod-tidy

make changelog note more specific
  .chloggen/updateistiocreatorrules.yaml
Due: none

refactor test checking for expected metrics
  functional_tests/istio/istio_test.go
Due: go-fmt, go-lint, go-mod-tidy

fix lint
  functional_tests/istio/istio_test.go
Due: go-fmt, go-lint, go-mod-tidy

remove debugging flag that updates expected test data
  functional_tests/istio/istio_test.go
Due: go-fmt, go-lint, go-mod-tidy

Fix lint, add more time for test and log comparison failures
  functional_tests/istio/istio_test.go
Due: go-fmt, go-lint, go-mod-tidy

revert expected test data change
  functional_tests/istio/testdata/expected_istioingress.yaml
Due: none

update expected testdata for istio ingress
  functional_tests/istio/testdata/expected_istioingress.yaml
Due: none

remove debugging
  tools/splunk_kubernetes_debug_info.sh
Due: none

Update functional_tests/internal/common.go
  functional_tests/internal/common.go
Due: go-fmt, go-lint, go-mod-tidy

[chore] upgrade go 1.24.6 to 1.24.9
  .github/workflows/build-and-test.yml
  .github/workflows/functional_test.yaml
  .github/workflows/functional_test_v2.yaml
  functional_tests/go.mod
  test/go.mod
  tools/k8s_versions/go.mod
Due: go-mod-tidy

[chore] upgrade go 1.24.6 to 1.24.9 (#2140)
  .github/workflows/build-and-test.yml
  .github/workflows/functional_test.yaml
  .github/workflows/functional_test_v2.yaml
  functional_tests/go.mod
  test/go.mod
  tools/k8s_versions/go.mod
Due: go-mod-tidy

[agent] Update Istio autodetect rules (#2132)
  .chloggen/updateistiocreatorrules.yaml
  examples/autodetect-istio/rendered_manifests/configmap-agent.yaml
  examples/autodetect-istio/rendered_manifests/daemonset.yaml
  functional_tests/internal/common.go
  functional_tests/istio/istio_test.go
  helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl
Due: go-fmt, go-lint, go-mod-tidy

[agent] Introduce metric filtering for Istio autodetection
  .chloggen/usepromreceiver.yaml
  examples/autodetect-istio/rendered_manifests/configmap-agent.yaml
  examples/autodetect-istio/rendered_manifests/daemonset.yaml
  helm-charts/splunk-otel-collector/templates/config/_otel-agent.tpl
Due: none

Add PR number to changelog
  .chloggen/usepromreceiver.yaml
Due: none

[chore] Only log deprecation warning when logsEngine is specified
  helm-charts/splunk-otel-collector/templates/NOTES.txt
  helm-charts/splunk-otel-collector/values.schema.json
  helm-charts/splunk-otel-collector/values.yaml
Due: none
